Добрый день .
Предлагается разработать программу, которая при запуске запускает следующий алгоритм:
1. Открывает все  файлы в сsv формате, вытаскивая с каждого файла первые 11 строк 2-ого столбца.
3. Извлеченные данные транспонируются и вставляются в следующую строку сводного файла в формате .xsls в  его кодировке.  Десятичный разделитель цифр «,».  ( при переносе данных средствами Excel наблюдается смена формата чисел для колонки с температурой источника.)
4. Добавляются столбцы с номером излучателя ( для всех файлов от 1 до 300) и № в оснастке ( для все файлов от 1-1 … 1-12 и   до 25 -12.
Добавляются столбцы с Названием сила излучения и Сила излучения номированная на 23 гр.  Значения в этих столбцах получаются путем деления значения из столбаца  POWER[uW] и POWER COMP.[uW] на 10.
4. Первая строка  нового файла всегда в формате:
№п.п.	№	DATE	TIME	T_SOURCE[C]	CURRENT[mA]	PULSE_DURATION[us]	PULSE_PERIOD[us]	POWER[uW]	POWER COMP.[uW]	SNR	RiseTime[ns]	FallTime[ns]	Сила излучения [мВт/ср]	Сила излучения норм. на 23  ° [мВт/ср]

Последующие строки должны быть в формате
1	1-1	25.05.2021	13:46:33	24,01	499	10	1200	32,06436705	32,45471289	609,5328547	321	811,9113906	3,206436705	3,245471289
2	1-2	25.05.2021	13:47:20	24,01	499	10	1200	33,79349917	34,20489516	421,3223859	265	578,7734509	3,379349917	3,420489516
3	1-3	25.05.2021	13:48:20	24,01	500	10	1200	36,38709928	36,83006929	648,6665432	334	903,3337094	3,638709928	3,683006929

5. Образец приведен как «сводный файл.xlsx»
